<% content_for(:page_title_prefix, "Cookies") %>

<% content_for :breadcrumbs do %>
<ol>
  <li><a href="<%= current_scrapbook.present? ? scrapbook_introduction_path(current_scrapbook) : root_path %>">Introduction</a></li>
  <li>Cookies</li>
</ol>
<% end %>

<header class="page-header">
 <div>
   <h1 class="heading-xlarge">
     Cookies
   </h1>
 </div>
</header>
<div class="article-container group">
 <div class="content-block">
   <div class="inner">
     <div class="summary">
     <p>This site puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.</p>
     </div>

     <p>Cookies are used to: </p>

     <ul class="list list-bullet">
       <li>measure how you use the website so it can be updated and improved based on your needs</li>
       <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
     </ul>

     <div class="application-notice info-notice">
     <p>Our cookies aren’t used to identify you personally.</p>
     </div>

     <p>You’ll normally see a message on the site before we store a cookie on your computer.</p>

     <p>Find out more about <a rel="external" href="http://www.aboutcookies.org/">how to manage cookies.</a></p>

     <h2 class="heading-large">How we use cookies</h2>

     <h3 class="heading-medium">Measuring website usage (Google Analytics)</h3>

     <p>We use Google Analytics software to collect information about how you use this site. We do this to help make sure the site is meeting the needs of its users and to help us make improvements.</p>

     <p>Google Analytics stores information about:</p>

     <ul class="list list-bullet">
       <li>the pages you visit</li>
       <li>how long you spend on each page</li>
       <li>how you got to the site</li>
       <li>what you click on and search for while you’re visiting the site</li>
     </ul>

     <p>We don’t collect or store your personal information (eg your name or address) so this information can’t be used to identify who you are. </p>

     <div class="application-notice info-notice">
     <p>We don’t allow Google to use or share our analytics data.</p>
     </div>

     <p>Google Analytics sets the following cookies:</p>

     <h3 class="heading-medium">Universal Analytics</h3>

     <table>
       <thead>
         <tr>
           <th>Name</th>
           <th>Purpose</th>
           <th>Expires</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>_ga</td>
           <td>This helps us count how many people visit this site by tracking if you’ve visited before</td>
           <td>2 years</td>
         </tr>
         <tr>
           <td>_gat</td>
           <td>Used to manage the rate at which page view requests are made</td>
           <td>10 minutes</td>
         </tr>
       </tbody>
     </table>

     <p>You can <a rel="external" href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics cookies.</a></p>

     <h3 class="heading-medium">Our introductory message</h3>

     <p>You may see a pop-up welcome message when you first visit this site. We’ll store a cookie so that your computer knows you’ve seen it and knows not to show it again.</p>

     <table>
       <thead>
         <tr>
           <th>Name</th>
           <th>Purpose</th>
           <th>Expires</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>seen_cookie_message</td>
           <td>Saves a message to let us know that you’ve seen our cookie message</td>
           <td>1 month</td>
         </tr>
       </tbody>
     </table>

     <h3 class="heading-medium">Work you could do form events</h3>

     <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Purpose</th>
            <th>Expires</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>_work-you-could-do_session</td>
            <td>This cookie is used to remember what you’ve entered in the form fields so you can easily go back</td>
            <td>when you close your browser</td>
          </tr>
        </tbody>
      </table>
   </div>
 </div>
</div>
