<header>
  <h2 class="heading-xlarge">Your work search activities</h2>
</header>

<% current_scrapbook.occupations.each do |occupation| %>
  <section id="<%=occupation.id%>">
    <%= render "occupations/details", occupation: occupation %>
    <hr>
  </section>
<% end %>
