---
http_interactions:
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/soc/search?q=library
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Signature keyId="U9CMRK1DQSa5iX4N5wXrLQ==",algorithm="hmac-sha1",signature="YgTLoGvPihEEyrytJKl95uLZZRE="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Auth-Type:
      - HMAC
    body:
      encoding: UTF-8
      string: '[{"soc":4135,"title":"Library clerks and assistants","description":"Library
        clerks and assistants classify, sort and file publications, documents, audio-visual
        and computerised material in libraries and offices.","qualifications":"There
        are no minimum academic requirements, although entrants usually possess GCSEs/S
        grades or A-Levels/H grades. Training is usually provided on-the-job. NVQs/
        SVQs in Information and Library Services are available at Levels 2 and 3.","tasks":"
        sorts, catalogues and maintains library records;\n locates and retrieves material
        on request for borrowers;\n issues library material and records date of issue/
        due date for return;\n classifies, labels and indexes new books;\n performs
        simple repairs on old books.","add_titles":["Assistant (library)","Assistant,
        library","Assistant, clerical (library)","Assistant, services, bibliographic","Supervisor,
        library","Looker-out, book","Assistant, chief (library)","Assistant, information
        (educational establishments)","Abstractor","Clerk, library","Reader (press
        cutting agency)","Clerk (library)","Assistant, bibliographic","Assistant,
        counter (library)","Agent, cutting, press","Clerk, cuttings, press","Assistant,
        resource, learni[...]
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/soc/code/4135
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Signature keyId="U9CMRK1DQSa5iX4N5wXrLQ==",algorithm="hmac-sha1",signature="YgTLoGvPihEEyrytJKl95uLZZRE="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Auth-Type:
      - HMAC
    body:
      encoding: UTF-8
      string: '{"soc[...]
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/ashe/estimateHours?coarse=true&soc=4135
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Signature keyId="U9CMRK1DQSa5iX4N5wXrLQ==",algorithm="hmac-sha1",signature="YgTLoGvPihEEyrytJKl95uLZZRE="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Auth-Type:
      - HMAC
    body:
      encoding: UTF-8
      string: '{"soc":41,"series":[{"year":2015,"hours":39}]}'
  recorded_at: Mon, 27 Feb 2017 15:10:19 GMT
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/ashe/estimatePay?coarse=true&soc=4135
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Signature keyId="U9CMRK1DQSa5iX4N5wXrLQ==",algorithm="hmac-sha1",signature="YgTLoGvPihEEyrytJKl95uLZZRE="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Auth-Type:
      - HMAC
    body:
      encoding: UTF-8
      string: '{"soc":41,"series":[{"year":2013,"estpay":710},{"year":2015,"estpay":490}]}'
  recorded_at: Mon, 27 Feb 2017 15:10:19 GMT
recorded_with: VCR 3.0.3
