---
http_interactions:
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/soc/search?q=library
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Auth-Type:
      - No Key
    body:
      encoding: UTF-8
      string: '[{"soc":4135,"title":"Library clerks and assistants","description":"Library
        clerks and assistants classify, sort and file publications, documents, audio-visual
        and computerised material in libraries and offices.","qualifications":"There
        are no minimum academic requirements, although entrants usually possess GCSEs/S
        grades or A-Levels/H grades. Training is usually provided on-the-job. NVQs/
        SVQs in Information and Library Services are available at Levels 2 and 3.","tasks":"
        sorts, catalogues and maintains library records;\n locates and retrieves material
        on request for borrowers;\n issues library material and records date of issue/
        due date for return;\n classifies, labels and indexes new books;\n performs
        simple repairs on old books."},{"soc":2451,"title":"Librarians","description":"Librarians
        appraise, obtain, index, collate and make available library acquisitions and
        organise and control other library services.",[...]
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/soc/search?q=plumber
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Auth-Type:
      - No Key
    body:
      encoding: UTF-8
      string: '[{"soc":5314,"title":"Plumbers and heating and ventilating engineers","description":"Jobholders
        in this unit group assemble[...]
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/soc/search?q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Auth-Type:
      - No Key
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 16 Jun 2016 10:30:43 GMT
[...]
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/soc/search?q=driving
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Auth-Type:
      - No Key
    body:
      encoding: UTF-8
      string: '[{"soc":8215,"title":"Driving instructors","description":"Driving instructors
        co-ordinate and undertake the instruction of [...]
