---
http_interactions:
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/soc/search?q=library
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Signature keyId="U9CMRK1DQSa5iX4N5wXrLQ==",algorithm="hmac-sha1",signature="TecGh7WY3nK+awh3/KEW1b74yrg="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Auth-Type:
      - HMAC
    body:
      encoding: UTF-8
      string: '[{"soc":4135,"title":"Library clerks and assistants","description":"Library
        clerks and assistants classify, sort and file publications, documents, audio-visual
        and computerised material in libraries and offices.","qualifications":"There
        are no minimum academic requirements, although entrants usually possess GCSEs/S
        grades or A-Levels/H grades. Training is usually provided on-the-job. NVQs/
        SVQs in Information and Library Services are available at Levels 2 and 3.","tasks":"
        sorts, catalogues and maintains library records;\n locates and retrieves material
        on request for borrowers;\n issues library material and records date of issue/
        due date for return;\n classifies, labels and indexes new books;\n performs
        simple repairs on old books.","add_titles":["Abstractor (press cuttings)","Agent,
        cutting, press","Assistant, archives","Assistant, bibliographic","Assistant,
        chief (library)","Assistant, clerical (library)","Assistant, counter (library)","Assistant,
        information (educational establishments)","Assistant, information (library)","Assistant,
        library","Assistant, resource, learning","Assistant, services, bibliographic","Assistant
        (library)","Attendant, library","Clerk, cuttings, press","Clerk, library",[...]
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/soc/search?q=plumber
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Signature keyId="U9CMRK1DQSa5iX4N5wXrLQ==",algorithm="hmac-sha1",signature="TecGh7WY3nK+awh3/KEW1b74yrg="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Auth-Type:
      - HMAC
    body:
      encoding: UTF-8
      string:[...]
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/soc/search?q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Signature keyId="U9CMRK1DQSa5iX4N5wXrLQ==",algorithm="hmac-sha1",signature="TecGh7WY3nK+awh3/KEW1b74yrg="
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Auth-Type:
      - HMAC
    body:
      encoding: UTF-8
      string: '{"error":"Please give a string to search for."}'
  recorded_at: Mon, 20 Feb 2017 14:20:06 GMT
[...]
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/soc/search?q=driving
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Signature keyId="U9CMRK1DQSa5iX4N5wXrLQ==",algorithm="hmac-sha1",signature="TecGh7WY3nK+awh3/KEW1b74yrg="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Auth-Type:
      - HMAC
    body:
      encoding: UTF-8
      string:[...]
