<h2 class="heading-xlarge">Explore work you could do</h2>

<p class="lede">To help your work search, explore different work opportunities and job roles.</p>

<p>Enter different kinds of work, skills and interests to find out:</p>
<ul class="list list-bullet">
  <li>words to use when searching online</li>
  <li>skills and qualifications required</li>
  <li>tasks and hours</li>
</ul>

<form action="/select_soc_codes" method="get">
  <div class="form-group ">
    <label for="id_sector_form-sector_0">
      <span class="form-label">Work, skills and interests</span>
    </label>
    <ul class="multi-entry-text-input">
    <li>
      <input type="text" class="form-control">
    </li>
    <li>
      <input type="text" class="form-control">
    </li>
    <li>
      <input type="text" class="form-control">
    </li>
    </ul>
  </div>

  <div class="form-group">
    <button type="submit" class="button button-start">Next</button>
  </div>
</form>
