<% content_for :application_content do %>
  <h2 class="heading-xlarge">Explore work you could do</h2>

  <p class="lede">To help your work search, explore different work opportunities and job roles.</p>

  <p>Enter different kinds of work, skills and interests to find out:</p>
  <ul class="list list-bullet">
    <li>words to use when searching online</li>
    <li>skills and qualifications required</li>
    <li>tasks and hours</li>
  </ul>
<% end %>
