<h2 class="heading-xlarge">Explore work you could do</h2>

<p class="lede">To help your work search, explore different work opportunities and job roles.</p>

<p>Enter different kinds of work, skills and interests to find out:</p>
<ul class="list list-bullet">
  <li>words to use when searching online</li>
  <li>skills and qualifications required</li>
  <li>tasks and hours</li>
</ul>

<%= form_tag(controller: "start", action: "keywords")%>
  <div class="form-group <% if @error %>error<%end%>">
    <label for="id_sector_form-sector_0">
      <span class="heading-small">Work, skills and interests</span>
      <% if @error %>
        <span class="error-message"><%= @error %></spsan>
      <% end %>
    </label>
    <ul class="multi-entry-text-input">
    <% (1..3).each do |index| %>
      <li>
        <%= text_field_tag "keyword_#{index}", nil, class: 'form-control', "title": "Work, skills and interests #{index}" %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="form-group">
    <button type="submit" class="button">Next</button>
  </div>
</form>
