<% content_for(:page_title_prefix, "How to use this tool") %>

<h2 class="heading-xlarge">How to use this tool</h2>

<p class="lede">Use this tool to help your work search and discover:</p>

<ul class="list list-bullet">
  <li>roles that match your skills and interests</li>
  <li>information to help with your CV</li>
  <li>words to help you search online</li>
  <li>typical pay, tasks and hours</li>
</ul>

<p>You can save these roles and discuss them with your work coach.</p>

<p class="form-group"><a class="button" href="<%= new_scrapbook_search_path(current_scrapbook) %>" id="next">Next</a></p>
