<div id="success" class="information-box" aria-live="polite" role="alert">
  <p>
    &lsquo;<%= occupation.title %>&rsquo; saved.
  </p>
  <p>
    <%= link_to("Saved #{pluralize_without_count(current_scrapbook.saved_occupations.size, "role")}", current_scrapbook) %>
  </p>
</div>
