<% content_for(:page_title_prefix, "Page not found") %>

<% content_for :breadcrumbs do %>
  <nav id="global-breadcrumb">
    <ul class="breadcrumbs">
      <li><a href="<%= current_scrapbook.present? ? scrapbook_introduction_path(current_scrapbook) : root_path %>">Introduction</a></li>
      <li>Page not found</li>
    </ul>
  </nav>
<% end %>

<h1 class="heading-xlarge">This page cannot be found</h1>
<p>Please check that you have entered the correct web address.</p>
