<header>
  <h2 class="heading-xlarge">Work you could do</h2>
</header>

<p class="lede">Use this information to search online, tailor your CV and plan your career.</p>

<p class="heading-small email-help">Send this to your email account so you can refer to it later.</p>
<form>
  <fieldset class="form-fieldset">
    <div class="form-group ">
      <label class="form-label" for="email">
        <span class="form-label">Email address</span>
      </label>
      <input class="form-control" id="id_email" name="email" type="text">
      <input type="submit" class="button" value="Send">
    </div>
  </fieldset>
</form>

<% @selected_occupations.each do |occupation| %>
  <section>
    <div class="job_item">
      <header>
        <h2 class="heading-large"><%= occupation.title %></h2>
      </header>

      <p><%= occupation.description %></p>

      <div class="grid-row">
        <div class="column-half">
          <h3 class="heading-small">Typical pay and hours</h3>
          <ul>
            <li>Normal hours worked per week: 40</li>
            <li>Estimated weekly pay: £360</li>
          </ul>
        </div>
        <div class="column-half">
          <h3 class="heading-small">Typical qualifications required</h3>
          <p>There are no formal academic entry requirements, although entrants typically possess GCSEs/S grades or an equivalent qualification. NVQs/SVQs and other vocational qualifications in hospitality and catering at levels 2 and 3 are available.</p>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-half">
         <h3 class="heading-small">Typical tasks</h3>
          <ul class="list-bullet">

              <li>Controls the purchase and storing of food, cleaning materials, linen and other household supplies;</li>

              <li>Maintains household records;</li>

              <li>Performs a variety of domestic tasks including food preparation and service, cleaning and laundry;</li>

              <li>Assists employer in washing, dressing, packing and other personal activities.</li>

          </ul>
        </div>

        <div class="column-half">
          <h3 class="heading-small">Useful search terms</h3>
            <em>Companion-housekeeper, House Keeper, Companion-help, Cook-housekeeper, House Keeper-companion, House, Daily Keeper, Lifestyle Manager, Civilian Orderly, Companion, Valet, Lady's Maid, Flats Steward</em>
        </div>
      </div>
    </div>
    <hr>
  </section>
<% end %>
