---
http_interactions:
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/ashe/estimateHours?coarse=true&soc=4135
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Signature keyId="U9CMRK1DQSa5iX4N5wXrLQ==",algorithm="hmac-sha1",signature="dgQKXNghKXBOlaRwcWQYpSaa4G4="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"soc":41,"series":[{"year":2015,"hours":39}]}'
  recorded_at: Mon, 24 Apr 2017 14:04:36 GMT
recorded_with: VCR 3.0.3
