---
http_interactions:
- request:
    method: get
    uri: https://api.lmiforall.org.uk/api/v1/ashe/estimateHours?coarse=true&soc=4135
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Signature keyId="U9CMRK1DQSa5iX4N5wXrLQ==",algorithm="hmac-sha1",signature="WjCOb26fRYZzvhtlSh8fwJPLxHg="
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Auth-Type:
      - HMAC
    body:
      encoding: UTF-8
      string: '{"soc":41,"series":[{"year":2015,"hours":39}]}'
  recorded_at: Mon, 20 Feb 2017 16:19:51 GMT
recorded_with: VCR 3.0.3
