<form action="<%= scrapbook_search_path(current_scrapbook) %>" method="GET" id="search-form">
  <div class="form-group">
    <label class="form-label" for="query">
      <span class="heading-small">Roles, skills and interests</span>
      <% if local_assigns[:show_hints] %>
        <span class="form-hint">e.g. <span class="example">Retail</span></span>
      <% end %>
    </label>
    <input type="text" name="query" id="query" class="form-control"
           title="Work, skills and interests"
           value="<%= local_assigns[:query] %>">
    <input type="submit" class="button" value="Search">
  </div>
</form>
