<form action="<%= scrapbook_search_path(current_scrapbook) %>" method="GET" id="search-form">
  <div class="form-group">
    <label class="form-label-bold heading-small" for="query">Roles, skills and interests</label>
    <% if local_assigns[:show_hints] %>
      <span class="form-hint" id="form-hint">Some examples are retail, sales, administration, cleaning and driving.</span>
    <% end %>
    <input type="text" name="query" id="query" class="form-control" aria-describedby="form-hint"
           title="Work, skills and interests"
           value="<%= local_assigns[:query] %>">
    <input type="submit" class="button" value="Search">
  </div>
</form>
