<% content_for(:page_title_prefix, "Find information on roles") %>

<h2 class="heading-xlarge">Find information on roles</h2>

<% if current_scrapbook.saved_occupations.any? %>
  <div id="success" class="information-box">
    <p>You have <%= link_to("#{pluralize(current_scrapbook.saved_occupations.size, "saved role")}", current_scrapbook) %>.</p>
  </div>
<% end %>

<%= render "searches/form" %>
