<h2 class="heading-xlarge">Explore work you could do</h2>

<% if current_scrapbook.saved_occupations.any? %>
  <div id="success" class="information-box">
    <p>You have <%= link_to("#{pluralize(current_scrapbook.saved_occupations.size, "saved role")}", current_scrapbook) %>.</p>
  </div>
<% end %>

<p class="lede">Use this tool to find out about different roles including:</p>

<ul class="list list-bullet">
  <li>typical pay, tasks and hours</li>
  <li>words for your online search</li>
  <li>qualifications you'll need</li>
</ul>

<%= render "searches/form" %>
