@import "colours";
@import "shims";
@import "measurements";
@import "typography";
@import "grid_layout";
@import "design-patterns/buttons";
@import "elements";

.multi-entry-text-input {
  li {
    margin-bottom: 0.5em;
  }
}

.job-description-title {
  padding-bottom: 1em;
}

.right {
  float: right;
}

.full-width {
  width: 100%;
}

#content {
  padding-top: 20px;
}

.information-box {
  @extend .error-summary;
  border: 5px solid #005ea5;
}

.button-warning{
  @include button($red);
}

.action-label {
  width: 50%;
}

.notes-area {
  width: 100%;
}

.button-large {
  padding: em(7) em(16) em(4) em(16);
  font-weight: 700;
  font-size: 24px;
}

.width-action-select {
  width: 59%;
}

.column-three-quarters {
  @include grid-column(3/4);
}

.search-results {
  @extend %contain-floats;
}

.save-occupation-form {
  @extend .right;
  clear: both;
  margin-top: 1em;
}

.TBC {
  border: 20px solid #FF007F !important;
}
