<% content_for :head do %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :page_title do %>
  Work you could do
<% end %>

<% content_for :cookie_message do %>
  <p>We uses cookies to make the site simpler.
  <a href="/cookies">Find out more about cookies</a></p>
<% end %>

<% content_for :header_class do %>with-proposition<% end %>

<% content_for :proposition_header do %>
<div class="header-proposition">
  <div class="content">
    <div id="proposition-menu">
      <h1 id="proposition-name">Work you could do</h1>
    </div>
  </div>
</div>
<% end %>

<% content_for :content do %>
  <main id="content">
    <%= content_for?(:application_content) ? yield(:application_content) : yield %>
  </main>
<% end %>

<%= render template: "layouts/govuk_template" %>
